.backgroundContainer {
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
}

.overlayText {
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.5rem;
}
